
.forget-pass__form{
    border: 1px solid #dddddd;
    width: 20%;
    height: 200px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
  }
  
  .forget-pass__form h1 {
    margin: 7% 0 5% 0;
    color: #dddddd;
    font-size: 1rem;
  }
  .form {
    text-align: center;
  }
  
  .email-input_forgetPass {
    width: 80%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: transparent;
    padding: 0 0 0 10px;
    color: #dddddd;
    margin-bottom: 4%;
  }
  
  .udpate-password button {
    width: 85%;
    height: 40px;
    margin-top: 10px;
    font-family: inherit;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #dddddd;
    cursor: pointer;
  }
  .udpate-password button:hover {
    background-color: #353455;
    transition-duration: 1s;
    color: #dddddd;;
  }
  
  .back-to-login {
    margin-top: 15px;
  } 

  .back-to-login a {
    font-size: 0.8rem;
    margin-top: 150px;
    text-decoration: none;
    color: rgb(58, 58, 246);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
  }
  
  .back-to-login a:hover {
      color: rgb(170, 170, 255);
      transition-duration: 0.5s;
  }
  