.forget-pass-home {
  background-color: #182631;
  height: 100vh;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden !important;
}

.forget-pass__form {
  border: 1px solid #dddddd;
  width: 20%;
  height: 280px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.forget-pass__form h1 {
  margin: 9% 0 6% 0;
  color: #dddddd;
  font-size: 1.5rem;
}
.form {
  text-align: center;
}

.email-input_forgetPass {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: transparent;
  padding: 0 0 0 10px;
  color: #dddddd;
  margin-bottom: 4%;
  font-size: 1.2rem;
}

.udpate-password button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #dddddd;
  cursor: pointer;
}
.udpate-password button:hover {
  background-color: #353455;
  transition-duration: 1s;
  color: #dddddd;
}

.back-to-login {
  margin-top: 20px;
}

.back-to-login a {
  font-size: 1.2rem;
  margin-top: 150px;
  text-decoration: none;
  color: rgb(58, 58, 246);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.back-to-login a:hover {
  color: rgb(170, 170, 255);
  transition-duration: 0.5s;
}
