.signup-home {
    background-color: #182631;
    height: 100vh;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden !important;  
    width: 100%;
}

.signup-form {
  width: 20%;
  border: 1px solid #dddddd;
  height: 430px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.signup-form h1 {
  margin: 7% 0 5% 0;
  color: #dddddd;
  font-size: 2rem;
}
.form {
  text-align: center;
  width: 85%;
}
.emaillll {
  width: 100%;
  /* background-color: red; */
}
.email-input,
.password-input,
.confirm-password__input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: transparent;
  padding: 0 0 0 10px;
  color: #dddddd;
  font-size: 1.2rem;
}

.email-input {
  margin-bottom: 4%;
}
.confirm-password__input {
  margin-top: 4%;
}
.submit-btn button {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem !important;
  background-color: #dddddd;
  cursor: pointer;
}
.submit-btn button:hover {
  background-color: #353455;
  transition-duration: 1s;
  color: #dddddd;
}

.account {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  font-size: 1rem;
  margin-top: 15px;
  /* padding-bottom: 15px; */
}
.account a {
  text-decoration: none;
  color: rgb(58, 58, 246);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.account a:hover {
  color: rgb(170, 170, 255);
  transition-duration: 0.5s;
}
.social-media {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
}

.social-media .bi-facebook {
  color: #0066ff;
  font-size: 1rem;
  margin-right: 2px;
}

.social-media .bi-whatsapp{
color: #2ff615;
  font-size: 1rem;
  margin-right: 2px;
}

.social-media .bi-twitter-x {
  color: #bfbfbf;
  font-size: 1rem;
  margin-right: 2px;
}
.social-media .bi-telegram {
  color: #33ccff;
  font-size: 1rem;
  margin-right: 2px;
}
.social-media .bi-instagram {
  color: #ff0066;
  font-size: 1rem;
  margin-right: 2px;
}
