.error-page {
  /* background: -webkit-repeating-linear-gradient(
    -45deg,
    red,
    green,
    blue,
    yellow,
    pink,
    teal,
    purple
  ); */
  height: 100vh;
  background-size: 500%;
}

.error-container {
  position: absolute;
  top: 5%;
  left: 17%;
  right: 17%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
}

.error-container .content {
  max-width: 600px;
  text-align: center;
}
.content h1 {
  font-size: 18vw;
  font-family: sans-serif;
  line-height: 1em;
  position: relative;
}
.content h1::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    red,
    /* green, */
    red,
    /* blue, */
    yellow,
    pink,
    /* teal, */
    purple
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.content h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  max-width: 600px;
  position: relative;
  font-family: sans-serif;
}

.content h4::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow:1px 1px 2px rgba(255, 255, 255, 0.4) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.content p {
  font-size: 1.5rem;
  color: #0d0d0d;
}
.content .return-home {
  margin-top: 25px;
}
.return-home button {
  border: none;
  width: 500px;
  height: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #ea7713;
  border-radius: 5px;
  transition: all 1s ease;
  color: #353455;
  font-weight: bold;
}

.return-home button:hover {
  background-color: #353455;
  color: #fff;
}
