.patient-description {
  width: 70%;
  background-color: #203342;
}
.patient-description_container {
  display: inline-block;
  width: 97%;
  margin: 1.2% 0 1.8% 1.5%;
  background-color: #182631;
  border-radius: 5px;
  padding: 10px 15px 30px 15px;
  /* height: 100vh; */
  overflow-y: auto;
}

.patient-description__title-section {
  border-bottom: 2px solid #4f4f4f;
}
.title-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
}
.title h4 {
  margin-left: 5px;
  font-family: sans-serif;
}
.date-part span {
  font-size: 10px;
}
.date-part span:last-child {
  margin-left: 15px;
  font-family: sans-serif;
}
.record-description {
  margin-top: 15px;
}

.record-description__item > h5 {
  color: #f5b869;
  margin-bottom: 5px;
  font-family: sans-serif;
}
.record-description__item > p {
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: #d2d1d1;
}

.status {
    
  border-top: 2px solid #4f4f4f;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;

  /* justify-content: space-evenly; */
}
.status-photos {
  background-color: #353455;
  width: 30%;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
  margin-top: 10px;
   /* align-items: flex-start;  */
  /* justify-content: flex-start; */
  flex-wrap: wrap;
}
.photo-item {
  border-radius: 5px;
  /* border: 1px solid red; */
  width: 30%;
  height: auto;
  margin: 3px 4px;
  padding: 0;
}
.photo-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  scale: 1;
  margin: 0;
}

.status-modes {
    /* border: 1px solid blue; */
    width: 70%;
    padding: 10px 30px;
    display: flex;
    
  }

  table{
    width: 100%;
  }

  table td {
    /* border: 1px solid #ddd; */
    padding: 8px 8px 30px 8px;
  }